/*@import url('//fonts.googleapis.com/css?family=Indie+Flower');
@import url('//fonts.googleapis.com/css?family=Shadows+Into+Light');
*/
@import url('./reset.css');
@import url(https://fonts.googleapis.com/css?family=Crete+Round:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Kreon:300,400,700);

header {
    background-color: #D67964;
    margin: 0;
    margin-bottom: 20px;
}

header h1 {
  text-align: center;
  color: #E6DFC2;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.status {
  text-align: center;
  color: #B7AF98;
  font-family: 'Kreon', serif;

}

div.add-box, item {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

body {
  /*background-color: red;*/
  font-size: 18px;

  background-color: #E7E0C3;

/*  background-image: url('../assets/hedgehog-bg.png');
  background-size: contain;
*/
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
}

div.tabs input {
  width: 100%;
}

div.add-box {
  background-color: white;
  box-sizing: border-box;
}

footer {
  display: none;

  width:100%;
  position:absolute;
  bottom:0;
  left:0;

  background-color: #EDCB9F;
}

data .itemtext {
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}

data .description {
  font-size: 1em;
  line-height: 1em;
  font-weight: 300;
}

.labels {
  width: 100%;
}

.labels button, button.quickadd, .fakebutton, button.edit {
  width: 100%;
  background-color: #B9D9D4;
  color: white;
  border: none;
  font-size: 18px;
  padding: 10px;
}

button.edit {
  width: 40%;
  margin-right: 5%;
}

.fakebutton {
  font-family: 'Kreon', serif;
  text-decoration: none;
  background-color: #B9D9D4;
  width: 40%;  
}


.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.itemtext {
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Kreon', serif;
}



item {
  padding: 20px;
  display: block;
  border: 1px black solid;
  margin-top: 20px;
  background-color: #F8F1DD;
  max-width: 500px;

  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kreon', serif;
}

h1 {
  letter-spacing: 1px;
  font-size: 24px;
  margin: 0;
  padding: 0;
} 

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  position: absolute;
  top: 25px;
  text-align: right;
  right: 0px;

  color: #E7E0C2;
}

h3 a {
  color: #A34F45;
}

h3 a:visited {
  /*color: inherit;*/
  text-decoration: none;
}

h4 {
  margin: 0;
  color: #B7AF98;
}

.quickadd, .description, footer {
  font-family: 'Kreon', serif;
  /*font-family: 'Shadows Into Light', cursive;*/
}

.addnewscreen {
  margin-left: 10px;
}

button {
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Kreon', serif;  
  /*font-family: 'Shadows Into Light', cursive;*/
  opacity: 1.0;
}

input[type=checkbox] {
  margin-right: 20px;
  font-size: 24px;
}

a {

}

p.description {
  display: block;
  margin-top: 0;
  margin-bottom: 0
}

#item {
  width: 100%;
  font-size: 1.25em;
  font-family: 'Kreon', serif;
}

#description {
  font-size: 1em;
  font-family: 'Kreon', serif;
}

textarea {
  width: 100%;
}

input[type=checkbox]:before { 
  content:""; 
  display:inline-block; 
  width:32px; 
  height:32px; 
  position: relative;
  top: -15px;

  background-image: url("../assets/unchecked.png");
  background-size: cover;
}

input[type='checkbox']:checked:before { 
  background-image: url("../assets/checked-teal.png");
}


div.deletediv {
  float: right;
}

fieldset {
  border: 0px;
}

div.box {
  border: 2px black solid;
  padding: 10px;
  opacity: 1;
}

div.box form {
  margin: 0;
}

div.tabs {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div.tododata {
  width: 80%;
}

div.checkboxes {
  width: 40px;
  padding-top: 10px;
  padding-right: 10px;
}

body {
/*  padding-left: 15%;
  padding-right: 15%;
*/  /*max-width: 900px;*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 1.6;*/
}

item {
  padding: 20px;
  border-bottom: 1px gray solid;
}

item div {
  /*width: 60%;*/
}


/*  styles for add page */

label {
   /*font-family: 'Shadows Into Light', cursive;*/
   font-family: 'Kreon', serif;
 }

/* stuff for login page */

.login_error {
  color: red;
}


.tabs {
  position: relative;   
  min-height: 250px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
  color: #B5AC95;
}
.tab label.tabtext {
  background: #eee; 
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  /*padding-bottom: 20px; */
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.tab-content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  /*opacity: 0.5;*/
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
}

.tab-content input {
  font-size: 18px;
  /*font-family: 'Shadows Into Light', cursive;*/
  font-family: 'Kreon', serif;
}

.tab-content label {
  width: 100px;
}