body {
  /*background-color: red;*/
  font-size: 18px;
}

.inline {
  display: inline;
}
/*
.fixedfont {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}*/

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

p {

}