@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  /*background-color: red;*/
  font-size: 24px;

  background-color: "#eee";

  background-image: url('../assets/hedgehog-bg.png');
  background-size: contain;

  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.itemtext {
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  font-family: 'Indie Flower', cursive;
}



item {
  padding-bottom: 20px;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
} 

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

h4 {
  margin: 0;
}

.quickadd, .description, footer {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 1px;
}

.addnewscreen {
  margin-left: 10px;
}

button {
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
  opacity: 1.0;
}

input[type=checkbox] {
  margin-right: 20px;
  font-size: 24px;
}

a {

}

p.description {
  display: block;
  margin-top: 0;
  margin-bottom: 0
}

#item {
  width: 100%;
  font-size: 32px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 1px;
}

#description {
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

textarea {
  width: 100%;
}

input[type=checkbox]:before { 
  content:""; 
  display:inline-block; 
  width:32px; 
  height:32px; 
  position: relative;
  top: -15px;

  background-image: url("../assets/unchecked.png");
  background-size: cover;
}

input[type='checkbox']:checked:before { 
  background-image: url("../assets/checked.png");
}


div.deletediv {
  float: right;
}

fieldset {
  border: 0px;
}

div.box {
  border: 2px black solid;
  padding: 10px;
  background-color: #ddd;
  opacity: 0.5;
}

div.box form {
  margin: 0;
}

div.tododata {
  width: 80%;
}

div.checkboxes {
  width: 40px;
  padding-top: 10px;
  padding-right: 10px;
}

body {
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

item {
  padding-left: 20px;
  /*text-indent: -30px;*/
  padding-right: 20px;
  border-bottom: 1px gray solid;
  padding-top: 10px;
}

item div {
  /*width: 60%;*/
}


/*  styles for add page */

label {
   font-family: 'Shadows Into Light', cursive;
 }

.fakebutton {
appearance:button;
-moz-appearance:button; /* Firefox */
-webkit-appearance:button; /* Safari and Chrome */
/*  background-color: red;
  border: 1px solid black;
*/
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  color: black;
  padding: 3px;
}

/* stuff for login page */
.login_error {
  color: red;
}


.tabs {
  position: relative;   
  min-height: 250px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label.tabtext {
  background: #eee; 
  padding: 10px;
  /*padding-bottom: 20px; */
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.tab-content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  /*opacity: 0.5;*/
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
}

.tab-content input {
  font-size: 18px;
  font-family: 'Shadows Into Light', cursive;
}

.tab-content label {
  width: 100px;
}